
*{
 margin: 0;
 padding: 0;
}



html{
    width: 100vw;
    height: 100vh;
}

h1{
  color: white;
}

.login-styling {
  background: url("../images/7824b.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  width: 100vw;
  height: 100vh;


  font-family: "Rubik","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 900;
  text-align: center;
}

.blurred-box{
  position: relative;
  width: 400px;
  height: 400px;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
  background: inherit;
  border-radius: 2px;
  overflow: hidden;
  margin-top: -60px;

}

.blurred-box:after{
 content: '';
 width: 500px;
 height: 500px;
 background: inherit;
 position: absolute;
 box-shadow: inset 0 0 0 20px rgba(200,200,200 ,.1);
 filter: blur(10px);
 left: -25px;
 top: -25px;
}


.user-login-box{
  position: relative;
  text-align: center;
  z-index: 1;
  margin-top: 100px;

}

.user-icon{
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50%;
  background-size: contain;
  background: url("/falconslogo.jpg");
}


input.username{
  width: 200px;
  height: 30px;
  opacity: 0.4;
  border-radius: 2px;
  padding: 5px 15px;
  border: 0;
  margin: 5px;
}

input.password{
  width: 200px;
  height: 30px;
  opacity: 0.4;
  border-radius: 2px;
  padding: 5px 15px;
  border: 0;
  margin: 5px;
}

/* input.button {
  margin-top: 10px;
} */

::-webkit-scrollbar {
  width: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(245, 6, 6); 
}
