
*{
 margin: 0;
 padding: 0;
}

html{
    width: 100vw;
    height: 100vh;
}

body {
  /*background: url("../images/photo.jpeg");*/
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  width: 100%;
  height: 100%;


  font-family: "Rubik","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 900;
  color: white;
  text-align: center;
}

.nav {
	width: 100%;
	height: 60px;
	box-shadow: 0 0 0 10px rgba(0, 0, 0, .2);
	background-color: rgba(200, 200, 200, .1);
	backdrop-filter: blur(5px);
}

.timerDisplay{
  font-family: "Rubik","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 900;
  color:white;
}
