
*{
 margin: 0;
 padding: 0;
}

html{
    width: 100vw;
    height: 100vh;
}

.login-styling {
  background: url("212677.jpg")no-repeat;
  background-size: cover;
  background-attachment: fixed;



  /* display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh; */


  padding: 200px;
  font-family: "Rubik","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 900;
  text-align: center;
}

.blurred-box{
  position: relative;
  width: 250px;
  height: 350px;
  top: calc(50% - 175px);
  left: calc(50% - 125px);
  background: inherit;
  border-radius: 4px;
  overflow: hidden;
  content:'';
  box-shadow: inset 200px 200px 200px 200px rgba(200,200,200,0.5);
  filter: blur(1px);
  /* filter: blur(1px); */
}

.blurred-box:after{
 width: 300px;
 height: 300px;
 background: inherit;
 position: absolute;
 left: -25px;
 right: 0;
 top: -25px;
 bottom: 0;
 z-index: -1;
}


.user-login-box{
  position: relative;
  margin-top: 50px;
  text-align: center;
  z-index: -1;
}

input.username{
  width: 200px;
  height: 30px;
  opacity: 0.4;
  border-radius: 2px;
  padding: 5px 15px;
  border: 0;
  margin: 5px;
  z-index: 1;
}

input.password{
  width: 200px;
  height: 30px;
  opacity: 0.4;
  border-radius: 2px;
  padding: 5px 15px;
  border: 0;
  margin: 5px;
}

/* .container {
  width: 30rem;
  height: 20rem;
  box-shadow: 0 0 1rem 0 rbga(0,0,0,.2);

} */
