
*{
 margin: 0;
 padding: 0;
}

html{
    width: 100vw;
    height: 100vh;
}

.login-styling {
  background: url("212677.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;


  padding: 370px;
  font-family: "Rubik","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 900;
  text-align: center;
}

.blurred-box{
  position: relative;
  width: 250px;
  height: 350px;
  top:0;
  left:0;
  margin-top: -100px;
  margin-left: 340px;
  background: inherit;
  content:'';
  box-shadow: inset 200px 200px 200px 200px rgba(255,255,255,0.4);
  filter: blur(5px);
  border-radius: 5px;
  overflow: hidden;


}

.blurred-box:before {
 content:'';
 width: 300px;
 height: 400px;
 top: 0px;
 left: -25px;

 background: inherit;
 position: absolute;
 margin: -25px;
 z-index: -1;
}


.user-login-box{
  position: relative;
  margin-top: -280px;
  text-align: center;
  z-index: 1;


}

input.username{
  width: 200px;
  height: 30px;
  opacity: 0.4;
  border-radius: 2px;
  padding: 5px 15px;
  border: 0;
  margin: 5px;
}

input.password{
  width: 200px;
  height: 30px;
  opacity: 0.4;
  border-radius: 2px;
  padding: 5px 15px;
  border: 0;
  margin: 5px;
}

input.button {

}
/* .container {
  width: 30rem;
  height: 20rem;
  box-shadow: 0 0 1rem 0 rbga(0,0,0,.2);

} */
