
*{
 margin: 0;
 padding: 0;
}

html{
    width: 100vw;
    height: 100vh;
}

.login-styling {
  background: url("7824b.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  width: 100vw;
  height: 100vh;


  padding: 310px;
  font-family: "Rubik","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 900;
  text-align: center;
}

.blurred-box{
  position: relative;
  width: 50vh;
  height: 50vh;
  top: -5vh;
  left: 18vw;
  background: inherit;
  border-radius: 10px;
  overflow: hidden;
  margin-top: -20px;
  margin-bottom: 80px;
}

.blurred-box:after{
 content: '';
 width: 500px;
 height: 500px;
 background: inherit;
 position: absolute;
 margin-left: -27vh;
 box-shadow: inset 0 0 0 200px rgba(255,255,255,.1);
 filter: blur(10px);
}


.user-login-box{
  position: relative;
  top: -50vh;
  text-align: center;


}

input.username{
  width: 200px;
  height: 30px;
  opacity: 0.4;
  border-radius: 2px;
  padding: 5px 15px;
  border: 0;
  margin: 5px;
}

input.password{
  width: 200px;
  height: 30px;
  opacity: 0.4;
  border-radius: 2px;
  padding: 5px 15px;
  border: 0;
  margin: 5px;
}

input.button {
  margin-top: 10px;
}
